<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

  <div align="right">
    <a th:href="@{/Logout}">Logout</a>
  </div>

  <div align="left">
    <a th:href="@{/admin/GoToCreationPage}">Create new product</a>
  </div>

  <div>
    <form th:action="@{/admin/GoToInspectionpage}" method="POST">
      <fieldset>
          <span th:each="q : ${pOfTheDay.getQuestions()}">
              <p th:text="${q.getText()}"></p>
              <input type="text" th:name="'a'+${q.getId()}" th:value="${rService.getAnswerTextFor(q.getId())}" required/>
          </span>
        <br>
        <ul>
          <li th:each="item : ${products}">
            <input type="radio" th:field="*{selection}" th:value="${item}" />
          </li>
        </ul>
        <br>
        <input type="submit" name="Go" value="Go">
      </fieldset>
    </form>
  </div>


</body>
</html>