<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deletion Page</title>
</head>

<body>
<h1>Deletion page</h1>
<div align="right">
  <a th:href="@{/admin/GoToAdminHomePage}">Homepage</a>
  <a th:href="@{/Logout}">Logout</a>
</div>

<p>Select a product</p>
<form th:action="@{/admin/GoToDeletionPage}" method="POST">
  <fieldset>
    <label for="selectedProduct">Product: </label>
    <select name="selectedProduct" id="selectedProduct" required>
      <option th:each="p : ${products}"
              th:value="${p.getId()}"
              th:text="${p.getName()}">
      </option>
    </select>
    <input type="submit" name="fetchProductData" value="Select product">
  </fieldset>
</form>

<div th:if="${selectedProduct != null}">
  <h2>Selected product</h2>
  <p th:text="'Name: '+${selectedProduct.getName()}"></p>
  <p th:text="'Day: '+${selectedProduct.getDate().toLocaleString().split(',')[0]}"></p>
  <img width="150px" alt="prodImage" th:src="*{'data:image/png;base64,'+ selectedProduct.getImageAsBase64()}"/>
  <div>
    <a th:href="@{/admin/EraseQuestionnaire?product={param}(param=${selectedProduct.getId()})}">Delete questionnaire data</a>
  </div>
  <h3 th:text="${selectedProduct.getReviews().isEmpty() ? 'There are no reviews' : 'Reviews'} + ' of the selected product'"></h3>
  <div th:if="${!selectedProduct.getReviews().isEmpty()}">
    <table>
      <tr>
        <th>Username</th>
        <th th:each="q : ${selectedProduct.getQuestions()}" th:text="${q.getText()}"></th>
      </tr>
      <tr th:each="r : ${selectedProduct.getReviews()}">
        <th th:text="${r.getUser().getUsername()}"></th>
        <td th:each="a : ${r.getAnswers()}" th:text="${a.getText()}"></td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>