<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deletion Page</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/../package/mystyle.css}" />
</head>

<body>
<div align="right">
  <a th:href="@{/admin/GoToAdminHomePage}">Homepage</a>
  <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Deletion page</h1>

<p style="color:#FF0000"; th:text="${displayMsg}"></p><br>

<p>Select a date and access product questionnaire data</p>
<form th:action="@{/admin/GoToDeletionPage}" method="POST">
  <fieldset>
    <label for="date">
      Date:
    </label>
    <input type="date" id="date" name="date" th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" placeholder="yyyy-mm-dd" required/>
    <br><br>
    <input type="submit" name="fetchData" value="Search product questionnaire data">
  </fieldset>
</form>

<div th:if="${selectedDate != null && selectedProduct == null}">
  <h3 th:text="'There are no product with date ' + ${selectedDate.toLocaleString().split(',')[0]}"></h3>
</div>
<div th:if="${selectedDate != null && selectedProduct != null}">
  <h2>Selected product</h2>
  <p th:text="'Name: '+${selectedProduct.getName()}"></p>
  <p th:text="'Day: '+${selectedProduct.getDate().toLocaleString().split(',')[0]}"></p>
  <img width="150px" alt="prodImage" th:src="*{'data:image/png;base64,'+ selectedProduct.getImageAsBase64()}"/>
  <div>
    <a th:href="@{/admin/EraseQuestionnaire?product={param}(param=${selectedProduct.getId()})}">Delete questionnaire data</a>
  </div>
</div>

</body>
</html>