<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div align="right">
    <a th:href="@{/GoToTestPage}">Home</a> <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to the DB2Project home!</h1><br>

<section>
    <div th:if="${pOfTheDay!=null}">
        <h3 th:text="'Product of the day'"> </h3>
        <p th:text="${pOfTheDay.getName()}"></p>
        <img width="150px" alt="prodImage" th:src="*{'data:image/png;base64,'+ pOfTheDay.getImageAsBase64()}">
    </div>
</section>
</body>
</html>