<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div align="right">
    <a th:if="${pOfTheDay!=null}" th:href="@{/user/GoToLeaderboardPage}">Leaderboard</a>
    <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to the DB2Project home!</h1><br>

<section>
    <div th:if="${pOfTheDay!=null}">
        <h3 th:text="'Product of the day is:'"> </h3>
        <p  th:text="${pOfTheDay.getName()}"></p >
        <img width="150px" alt="prodImage" th:src="*{'data:image/png;base64,'+ pOfTheDay.getImageAsBase64()}">
    </div>
    <div th:unless="${pOfTheDay!=null}">
        <h3>There is no product of the day!</h3>
    </div>
</section>

<div th:if="${pOfTheDay!=null && pOfTheDayReview==null}">
    <a th:href="@{/user/GoToNewReviewPage}">Review the product</a>
</div>
<div th:if="${pOfTheDay!=null && pOfTheDayReview!=null}">
    <a th:href="@{/user/DeleteReview}">Delete the review</a>
</div>

<br>

<div th:if="${!pOfTheDay.getReviews().isEmpty()}">
    <h3>Reviews by other users:</h3>
    <table>
        <tr>
            <th th:each="q : ${pOfTheDay.getQuestions()}" th:text="${q.getText()}"></th>
        </tr>
        <tr th:each="r : ${pOfTheDay.getReviews()}">
            <td th:each="a : ${r.getAnswers()}" th:text="${a.getText()}"></td>
        </tr>
    </table>
</div>

</body>
</html>