<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/../package/mystyle.css}" />
</head>

<body>
<div align="right">
    <a th:href="@{/user/GoToUserHomePage}">Cancel review</a>
    <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Product of the day review</h1>
<h3 th:text="'Product of the day is: '+${pOfTheDay.getName()}"> </h3>
<img width="150px" alt="prodImage" th:src="*{'data:image/png;base64,'+ pOfTheDay.getImageAsBase64()}">
<br><br>
<h3 th:text="'Section '+${rService.getCurrentPage()}+'/2'"></h3>
<h4 th:if="${rService.getCurrentPage()==1}" th:text="'Marketing section. All fields are mandatory'"></h4>
<h4 th:if="${rService.getCurrentPage()==2}" th:text="'Statistical section. All fields are optional'"></h4>
<section>
    <div th:if="${rService.getCurrentPage()==1}">
        <form th:action="@{/user/GoToNewReview2ndPage}" method="POST">
            <fieldset>
                <span th:each="q : ${pOfTheDay.getQuestions()}">
                    <p th:text="${q.getText()}"></p>
                    <input type="text" th:name="'a'+${q.getId()}" th:value="${rService.getAnswerTextFor(q.getId())}" required/>
                </span>
                <br>
                <br>
                <input type="submit" name="Next" value="Next">
            </fieldset>
        </form>
    </div>

    <div th:if="${rService.getCurrentPage()==2}">
        <form th:action="@{/user/SaveReview}" method="POST">
            <fieldset>
                <label for="age">Age: </label>
                <input type="number" step="1" name="age" id="age" min=0/>
                <br><br>
                <label for="sex">Sex: </label>
                <select name="sex" id="sex">
                    <option disabled selected> -- Select an option -- </option>
                    <option value="M" >Male</option>
                    <option value="F" >Female</option>
                    <option value="-" >Other</option>
                </select>
                <br><br>
                <label for="level">Level: </label>
                <select name="level" id="level">
                    <option disabled selected> -- Select an option -- </option>
                    <option value="L" >Low</option>
                    <option value="M" >Medium</option>
                    <option value="H" >High</option>
                </select>
                <br><br>
                <input type="submit" name="Submit" value="Submit">
            </fieldset>
        </form>

        <a th:href="@{/user/GoToNewReviewPage}">Previous</a>
    </div>
</section>
</body>
</html>